{% extends 'base.html' %}

{% block title %}Home — discussIIT{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div class="bg-success">
    <p class="text-white m-3">Hi {{ user.username }}!</p></div>
    <!-- I will add more stuff here if user is logged in -->

    <div class="m-3">
    <a class="btn btn-outline-dark btn-lg rounded" href={% url 'post' %}>Create new post</a>
        <a class="btn btn-outline-danger btn-sm rounded" href="{% url 'logout' %}">Log Out</a></div>
{% else %}
    <div class="m-3">
  <p>You are not logged in</p>
  <a class="btn btn-outline-primary btn-lg" href="{% url 'login' %}">Log In</a> |
  <a class="btn btn-outline-primary btn-lg" href="{% url 'signup' %}">Sign Up</a>
    </div>
{% endif %}
{% endblock %}