{% extends 'base.html' %}
{% block title %}New Post — discussIIT{% endblock %}
{% block content %}
{% if user.is_authenticated %}
    <div class="bg-dark text-light container-fluid"><h1 class="ml-5 align-content-center pt-5">New Post</h1></div>

        <form method="post">
    {% csrf_token %}
    {% include 'includes/bs4_form.html' with form=form %}
    <button type="submit" class="btn btn-outline-info btn-lg ml-5 mt-3 position-relative">Post</button>
    <a class="btn btn-outline-dark btn-lg rounded ml-3 mt-3" href={% url 'home' %}>Back to Home</a>
        </form>
{% else %}
        <div class="m-3 align-content-center">
  <h4 class="text-danger pt-4 pb-2">You are not logged in. Thus, you can't post.</h4><hr>
  <a class="btn btn-info btn-sm" href="{% url 'login' %}">Login</a> |
  <a class="btn btn-outline-info btn-sm" href="{% url 'signup' %}">Signup</a>
{% endif %}
    </div>
{% endblock %}
